/* line 17, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_banner.scss */
.head-banner {
  height: 300px;
  background-size: cover;
  position: relative; }
  /* line 6, ../sass/_banner.scss */
  .head-banner .in-head-banner {
    background-color: #1abc9c;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    /* line 14, ../sass/_banner.scss */
    .head-banner .in-head-banner .headed {
      font-size: 4em;
      text-align: center;
      color: white;
      padding: 2em 0 0 0;
      text-transform: uppercase;
      position: relative; }
      /* line 21, ../sass/_banner.scss */
      .head-banner .in-head-banner .headed:before {
        content: "";
        display: block;
        width: 32%;
        position: absolute;
        bottom: 30px;
        left: 0;
        border-top: solid 0.03em white; }
      /* line 30, ../sass/_banner.scss */
      .head-banner .in-head-banner .headed:after {
        content: "";
        display: block;
        width: 32%;
        position: absolute;
        bottom: 30px;
        right: 0;
        border-top: solid 0.03em white; }
    /* line 40, ../sass/_banner.scss */
    .head-banner .in-head-banner .sub-headed {
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 15px; }

/* line 1, ../sass/_header.scss */
.header {
  background-color: blue;
  background: url(/img/header-bg-1.jpg) center center no-repeat;
  background-size: cover;
  min-height: 800px;
  height: 100vh;
  position: relative; }
  /* line 8, ../sass/_header.scss */
  .header .in-header {
    background: rgba(255, 0, 0, 0.54);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  /* line 17, ../sass/_header.scss */
  .header .logo {
    float: left;
    margin: 3em 0 0 0; }
    /* line 20, ../sass/_header.scss */
    .header .logo img {
      width: 70px; }
  /* line 22, ../sass/_header.scss */
  .header nav {
    float: right;
    margin: 5.5em 0 0 0; }
    /* line 25, ../sass/_header.scss */
    .header nav li {
      display: inline-block;
      margin: 0 0 0 1em;
      list-style: none; }
      /* line 29, ../sass/_header.scss */
      .header nav li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        /* line 37, ../sass/_header.scss */
        .header nav li a:hover {
          color: white;
          background: rgba(43, 43, 43, 0.5); }
  /* line 44, ../sass/_header.scss */
  .header .headed {
    font-size: 5em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 3em 0 0.5em 0; }
    /* line 50, ../sass/_header.scss */
    .header .headed span {
      border: solid 0.02em white;
      padding: 10px 30px; }
  /* line 55, ../sass/_header.scss */
  .header .sub-headed {
    color: white;
    text-align: center;
    font-size: 15px; }

/* line 1, ../sass/_portfolio.scss */
.portfolio {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden; }
  /* line 5, ../sass/_portfolio.scss */
  .portfolio .in-portfolio {
    padding: 4em 0 8em 0; }
    /* line 8, ../sass/_portfolio.scss */
    .portfolio .in-portfolio .site {
      width: 288px;
      height: 288px;
      background: #db7575;
      margin: 4em 1em 0 1em;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      border: solid 0.07em rgba(67, 67, 67, 0.31);
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      /* line 23, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site .site-img {
        width: 288px;
        height: 288px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: solid 0.07em rgba(67, 67, 67, 0.31);
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
      /* line 32, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site h3 {
        margin: 1em 0 1.5em 0;
        color: #777;
        font-size: 1.4em;
        text-transform: uppercase; }
      /* line 33, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site p {
        margin: 2em 1em;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.5em;
        color: #777; }
      /* line 40, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site .btn a {
        color: white;
        text-decoration: none;
        background: rgba(47, 200, 212, 0.76);
        padding: 10px 15px;
        margin: 0.5em 1em;
        display: inline-block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
        /* line 50, ../sass/_portfolio.scss */
        .portfolio .in-portfolio .site .btn a:hover {
          background: rgba(47, 212, 110, 0.76); }
      /* line 54, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site .img-hover {
        position: relative;
        overflow: hidden; }
      /* line 58, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site .img-hover-infor {
        position: absolute;
        left: 0;
        right: 0;
        top: 210px;
        bottom: 0;
        background: white;
        border: solid 1px rgba(119, 119, 119, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(119, 119, 119, 0.5);
        -moz-box-shadow: 0 0 5px rgba(119, 119, 119, 0.5);
        box-shadow: 0 0 5px rgba(119, 119, 119, 0.5);
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
      /* line 70, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site:hover .img-hover-infor {
        top: 0;
        padding: 3.7em 0;
        background: rgba(52, 73, 94, 0.9); }
      /* line 75, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site:hover h3 {
        color: white; }
      /* line 78, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site:hover p {
        color: white; }
      /* line 81, ../sass/_portfolio.scss */
      .portfolio .in-portfolio .site:hover .site-img {
        width: 200px;
        height: 200px;
        margin: 3em auto;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }

/* line 1, ../sass/_preview.scss */
.site-preview {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-left: solid 1px rgba(119, 119, 119, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  width: 0px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  /* line 13, ../sass/_preview.scss */
  .site-preview .content {
    text-align: center;
    overflow: hidden;
    margin: 1em; }
    /* line 17, ../sass/_preview.scss */
    .site-preview .content .site-img {
      width: 300px;
      height: 300px;
      text-align: center;
      margin: 2em;
      box-shadow: 0 0 0px 10px #777777, 0 0 0px 20px rgba(119, 119, 119, 0.5), 0 0 0px 30px rgba(119, 119, 119, 0.2);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%; }
    /* line 26, ../sass/_preview.scss */
    .site-preview .content h3 {
      font-size: 2em;
      text-align: center;
      color: #777777;
      margin: 1em 0;
      position: relative;
      text-transform: uppercase; }
      /* line 33, ../sass/_preview.scss */
      .site-preview .content h3:before {
        display: block;
        position: absolute;
        content: "";
        float: left;
        left: 30px;
        width: 20%;
        top: 15px;
        border-top: solid 0.04em #777777; }
      /* line 43, ../sass/_preview.scss */
      .site-preview .content h3:after {
        display: block;
        position: absolute;
        content: "";
        float: right;
        right: 30px;
        width: 20%;
        top: 15px;
        border-top: solid 0.04em #777777; }
    /* line 54, ../sass/_preview.scss */
    .site-preview .content p {
      color: #777777;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      text-transform: uppercase;
      text-align: justify; }
    /* line 62, ../sass/_preview.scss */
    .site-preview .content .btn-view {
      display: block;
      margin: 2em; }
    /* line 66, ../sass/_preview.scss */
    .site-preview .content .view-site {
      background: #27ae60;
      margin: 0 1em;
      display: inline-block;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      /* line 73, ../sass/_preview.scss */
      .site-preview .content .view-site a {
        display: block;
        color: white;
        padding: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400; }
      /* line 81, ../sass/_preview.scss */
      .site-preview .content .view-site:hover {
        background: #2ecc71; }
    /* line 85, ../sass/_preview.scss */
    .site-preview .content .view-github {
      background: #2980b9;
      margin: 0 1em;
      display: inline-block;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      /* line 92, ../sass/_preview.scss */
      .site-preview .content .view-github a {
        display: block;
        color: white;
        padding: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400; }
      /* line 100, ../sass/_preview.scss */
      .site-preview .content .view-github:hover {
        background: #3498db; }
    /* line 104, ../sass/_preview.scss */
    .site-preview .content .close-preview {
      padding: 10px 15px;
      background: white;
      margin: 0 0 1em 0;
      text-align: center;
      display: block; }

/* line 114, ../sass/_preview.scss */
.show {
  width: 625px; }

/* line 9, ../sass/style.scss */
.container {
  width: 960px;
  margin: 0 auto; }

/* line 14, ../sass/style.scss */
.clear {
  clear: both; }

/* line 18, ../sass/style.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 100; }
