.head-banner {
    height: 300px;
    //background: url(/img/port.png) center center no-repeat;
    background-size: cover;
    position: relative;
    .in-head-banner {
        background-color: rgb(26, 188, 156);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        .headed {
            font-size: 4em;
            text-align: center;
            color: $white;
            padding: 2em 0 0 0;
            text-transform: uppercase;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 32%;
                position: absolute;
                bottom: 30px;
                left: 0;
                border-top: solid 0.03em $white;
            }
            &:after {
                content: "";
                display: block;
                width: 32%;
                position: absolute;
                bottom: 30px;
                right: 0;
                border-top: solid 0.03em $white;
            }
        }
        .sub-headed {
            text-align: center;
            color: $white;
            text-transform: uppercase;
            font-size: $font-size;
        }
    }
}
