.portfolio {
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    .in-portfolio {
        padding: 4em 0 8em 0;
        //background: url(/img/port.png) 90% 70% no-repeat;
        .site {
            width: 288px;
            padding: 1em;
            background: $white;
            margin: 4em 1em 0 1em;
            text-align: center;
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            border: solid 0.07em rgba(67, 67, 67, 0.31);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-in);
            .site-img {
                width: 250px;
                border: solid 0.07em rgba(67, 67, 67, 0.31);
                margin-bottom: 2.5em;
            }
            h3 { margin: 1em 0 0 0; color: #777; font-size: 1.4em; text-transform: uppercase;}
            p {
                margin: 2em 1em;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 1.5em;
                color: #777;
            }
            .btn a {
                color: $white;
                text-decoration: none;
                background: rgba(47, 200, 212, 0.76);
                padding: 10px 15px;
                margin: 0.5em 1em;
                display: inline-block;
                @include border-radius(5px);
                @include transition-duration(0.4s);
                @include transition-timing-function(ease-in-out);
                &:hover {
                    background: rgba(47, 212, 110, 0.76);
                }
            }
            .img-hover {
                position: relative;
                overflow: hidden;
            }
            .img-hover-infor {
                position: absolute;
                left: 0;
                right: 0;
                top: 155px;
                bottom: 0;
                background: rgba(52, 73, 94, 0);
                @include transition-duration(0.4s);
                @include transition-timing-function(ease-in-out);
            }
            &:hover .img-hover-infor {
                top: 0;
                background: rgba(52, 73, 94, 0.9);
            }
            &:hover h3 {
                color: $white;
            }
            &:hover p {
                color: $white;
            }
        }
    }
}