@import "compass/reset";
@import "compass";
@import "var";
@import "banner";
@import "header";
@import "portfolio";
@import "preview";

.container {
    width: 960px;
    margin: 0 auto;
    //background: #c74a4a;
}
.clear {
    clear: both;
}

body {
    font-family: $main-font;
    font-size: $font-size;
    font-weight: 100;
    //display: none;
}