---
layout: home
---

<section id="header-s" class="header-s">
<div class="overlay"></div>
{% include header.html %}
  <span class="header-line"></span>

  <div class="site-name wow fadeInUp">
    <h1><span>{{ site.title }}</span></h1>
  </div>

</section>

<section id="main-user" class="main-user">
  <div class="page-content">
      <div class="wrapper">
        
        <div id="about-face" class="user-img wow zoomInDown">
          <img src="{{ site.baseurl }}/img/face.jpg">
        </div>

      </div>
    </div>

</section>

<section id="main-infor" class="main-infor">
  <div class="page-content">
      <div class="wrapper">
        <h2 class="section-title wow fadeInLeft">{{ site.data.about.title }}</h2>
        <article class="content wow fadeInUp">

          <p class="lema">{{ site.data.about.paragraph-1 }}</p>

          <p class="lema">{{ site.data.about.paragraph-2 }}</p>

          <p class="lema">{{ site.data.about.paragraph-3 }}</p>

          <p class="lema">{{ site.data.about.paragraph-4 }}</p>
        </article>

        <aside class="sidebar wow fadeInUp">
          <ul>
            {% for list in site.data.about.list %}
            <li>
              <h4>{{ list.title }}</h4>
              <p class="lema">{{ list.content }}</p>
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

</section>

<section id="features" class="features">
<div class="overlay"></div>
  <div class="page-content">
      <div class="wrapper">
        <h2 class="section-title wow fadeInLeft">{{ site.data.features.title }}</h2>     
        <div class="f-item">

        {% for article in site.data.features.article %}
        <article class="content full-w wow {{ article.ani }}">
          <img src="{{ site.baseurl }}/img/{{ article.img }}">
          <h4>{{ article.title }}</h4>
          <p class="lema">{{ article.content }}</p>
        </article>
        {% endfor %}
        </div>
      </div>
  </div>
</section>

<section id="main-work" class="main-work">
  <div class="page-content">
      <div class="wrapper">
        <h2 class="section-title wow fadeInLeft">{{ site.data.tools.title }}</h2>
        
        {% for article in site.data.tools.article %}
        <article class="content {{ article.class }} wow {{ article.ani }}">
          <img src="{{ site.baseurl }}/img/icons/{{ article.icon }}">
          <h4>{{ article.title }}</h4>
          <p class="lema">{{ article.content }}</p>
        </article>
        {% endfor %}
       
      </div>
    </div>

</section>

<section id="contact" class="contact">
  <div class="overlay"></div>
  <div class="page-content">
      <div class="wrapper">
        <h2 class="section-title wow fadeInLeft">{{ site.data.contact.title }}</h2>

        <form class="main-form wow zoomIn" action="//forms.brace.io/{{ site.email }}" method="POST">
 
          <div class="form-group cname">
            <label>Your Name</label>
            <input type="text" name="name" class="form-control" required placeholder="james brown" onfocus="this.placeholder = ''" onblur="this.placeholder = 'james brown'">
          </div>

          <div class="form-group cemail">
            <label>Your Email</label>
            <input type="email" id="email" name="_replyto" required placeholder="your-email@domain.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your-email@domain.com'">
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea type="text" name="message" class="form-control" required></textarea>
          </div>

            <input type="submit" value="Send Message">
        </form>        

        <article class="content wow fadeInRight">
          <h4>Lorem ipsum dolor</h4>
          <p class="lema">{{ site.data.contact.paragraph-1 }}</p>

          <p class="lema">{{ site.data.contact.paragraph-2 }}</p>
        </article>

      </div>
  </div>
</section>