$font-main-color: #555; 
$font-footer-color: #CFD1D3;
$font-color: #fff;
$background-color: #F9F9F9;
$main-green: #A0D468;
$button-green: #90C557;
$footer-background-color: #555C66;
$footer-button-color: #40434C;
$copy-right-bg-color: #40434C;
