//$grids: 12;
//$gutters: 1/3;

@include add-grid(12);
@include add-gutter(1/3);

//false
@include sgs-change('debug', false);

.clearfix {
    clear: both;
}
section {
   padding: 20px 0;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
}

$min-desktop: max-width 1300px;
$big-tablet: max-width 1100px;
$phone: max-width 760px;
$min-phone: max-width 560px;

body {
    @include breakpoint($phone) {
        font-size: 17px;
    }
}
.container {
    width: 1200px;
    @include background-grid;
    margin: 0 auto;
    @include breakpoint($min-desktop) {
        width: 960px;
    }
    @include breakpoint($big-tablet) {
        width: 700px;
    }
    @include breakpoint($phone) {
        width: 500px;
    }
    @include breakpoint($phone) {
        width: 300px;
    }
}
#menu {
    clear: none;
    position: relative;
    @include breakpoint($big-tablet) {
        padding-bottom: 0;
    }
}
.logo {
    @include grid-span(6, 1);
    @include breakpoint($min-desktop){
        @include grid-span(5, 1)
    }
    @include breakpoint($big-tablet) {
        @include grid-span(10, 2);
    }
}
.moblemenu {
    @include grid-span(6, 7);
    @include breakpoint($min-desktop){
        @include grid-span(7, 6);
    }
    @include breakpoint($big-tablet) {
        @include grid-span(12, 1);
        background-color: $button-green;
        display: block;
        max-height: 0;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        ul { padding: 0; float: none; margin: 0;}
        li { 
            display: block;
            padding: 0;
            &:hover {
                background-color: $copy-right-bg-color;
                color: $font-color;
            }
            a {
                display: block;
                padding: 15px;
                &:hover {
                    color: $font-color;
                }
            }
        }            
    }
}
#menu .container {
    @include breakpoint($big-tablet) {
        width: 100%;
    }
}
.maininfor {
    @include grid-span(8, 1);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(12, 1);
    }
}
.sidebar {
    @include grid-span(4, 9);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        display: none;
    }
}
.userinfor {
    @include grid-span(4, 1);
    padding: 40px 0;
    clear: left;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 1);
        clear: both;
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
        text-align: center;
        img {
           width: 150px;
           height: 150px;
           display: block;
           float: none;
           margin: 0 auto;
           padding: 20px 0;
       }
       author {
           margin-left: 0;
       }
      .lead {
          margin-left: 0;
      }
    }
}
.maintags {
    @include grid-span(4, 5);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 7);
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
        .input {
            display: block;
            text-align: center;
        }
    }
}
.footer-infor {
    @include grid-span(3, 1);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 1);
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
    }
}
.footer-twitter {
    @include grid-span(3, 4);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 7);
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
    }
}
.footer-tags {
    @include grid-span(3, 7);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 1);
        clear: left;
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
    }
}
.footer-map {
    @include grid-span(3, 10);
    padding: 40px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(6, 7);
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
    }
}
.buy-title {
    @include grid-span(8, 1);
    @include breakpoint($big-tablet) {
        font-size: 1.2em;
    }
    @include breakpoint($phone) {
       @include grid-span(12, 1);
        display: none;
    }
}
.buy-link {
    @include grid-span(3, 9);
    @include breakpoint($phone) {
       @include grid-span(10, 2);
    }
}

.menubutton {
    display: none;
    @include breakpoint($big-tablet) {
        @include grid-span(2, 11);
        display: block;
        font-size: 2.5em;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
    }
}
.showmenu {
    @include breakpoint($big-tablet) {
        max-height: 25em;
    }
}

#copyright p {
    @include breakpoint($big-tablet) {
        text-align: center;
    }
}


//contact form layout 

.mainform {
    @include grid-span(9, 1);
    padding: 20px 0;
    @include breakpoint($big-tablet){
        @include grid-span(12, 1);
    }
}
.form-name {
    @include grid-span(4, 1);
    padding: 20px 0;
    @include breakpoint($min-desktop) {
        @include grid-span(12, 1);
    }
}
.form-email {
    @include grid-span(4, 5);
    padding: 20px 0;
    @include breakpoint($min-desktop) {
        @include grid-span(12, 1);
    }
}
.form-sub {
    @include grid-span(4, 9);
    padding: 20px 0;
    @include breakpoint($min-desktop) {
        @include grid-span(12, 1);
    }
}
.form-input {
    @include grid-span(12, 1);
    padding: 20px 0;
}
.main-aside {
    @include grid-span(3, 10);
    padding: 20px 0;
    @include breakpoint($big-tablet) {
        @include grid-span(12, 1);
    }
}
.form-control {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
#yourMessage {
    height: 300px;
}
.form-btn {
    .btn {
        @include grid-span(3, 1);
        border: 0;
        padding: 20px 30px;
        @include breakpoint($min-desktop) {
            @include grid-span(12, 1);
        }
    }
}
