<section id="main-face" class="main-user">
  <div class="page-content">
      <div class="wrapper">
        
        <div id="about-face" class="user-img wow zoomInDown">
          <img src="{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.about.face_image }}">
        </div>

      </div>
    </div>
</section>

<section id="about" class="main-infor">
  <div class="page-content">
      <div class="wrapper">
        
        <article class="content wow zoomInLeft">

          <p class="lema">{{ site.data.about.paragraph-1 }}</p>

          <div class="bar-l">
            <span>Communication</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-90"></span>
            </div>

            <span>Organization</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-70"></span>
            </div>

            <span>Learning</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-100"></span>
            </div>

            <span>Teaching</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-65"></span>
            </div>
          </div>

          <div class="bar-r">
            <span>Planning</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-75"></span>
            </div>

            <span>Visual Design</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-50"></span>
            </div>

            <span>UX Design</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-80"></span>
            </div>

            <span>Programming</span>
            <div class="prog">
              <span class="prog-bar color-3 prog-w-65"></span>
            </div>
          </div>

        </article>

        
      </div>
    </div>
</section>