<section id="features" class="features">
  <div class="overlay"></div>
      <div class="wrapper">
        <h2 class="section-title">{{ site.data.features.title }}</h2>
        <div class="features__items">
          {% for post in site.categories.features limit:3 %}
          <article class="features__item">
            <div class="features__item__container">
              <img src="{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.tools.img_location }}/{{ post.img }}">
              <h4 class="features__item__title">{{ post.title }}</h4>
              <p class="features__item__content">{{ post.excerpt }}</p>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
</section>
