<script src="{{ site.baseurl }}/js/jquery-2.1.1.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="{{ site.baseurl }}/js/founction.js"></script>

<footer class="site-footer">

  <div class="wrapper">

    <span class="copyr">Copyright 2014 By Kerron Gordon</span>  


    <div class="social-media-list">
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-googleplus"></i></a></li>
      <li><a href="#"><i class="icon-github"></i></a></li>
    </div>    

  </div>

</footer>
