<section id="menu" class="menu">
    <div class="menu__items">
        <div class="menu__toggle">
            <span class="menu__toggle__item"></span>
            <span class="menu__toggle__item"></span>
            <span class="menu__toggle__item"></span>
        </div>
        <div class="menu__logo">
            <a class="menu__logo__item" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.hero.logoImage }}"></a>
        </div>
        <div class="menu__list">
            {% for menu in site.data.hero.menu %}
            <a class="menu__list__item" href="{{ site.baseurl }}/{{ menu.link }}">{{ menu.title }}</a>
            {% endfor %}
        </div>
    </div>
</section>
