<section id="projects" class="projects">
  <div class="projects__full">
    <div class="projects__primary">
      <div class="wrapper">
        <h2 class="section-title">{{ site.data.tools.title }}</h2>
        <div class="projects__items">
          {% for post in site.posts limit:8 %}
          <article id="{{ post.id }}" class="projects__item wow {{ post.ani }}">
            <img class="projects__item__image" src="{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.tools.img_location }}/{{ post.img }}">
            <h4 class="projects__item__title">{{ post.title }}</h4>
            <p class="projects__item__content lema">{{ post.excerpt }}</p>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="projects__secondary">
      <div class="wrapper">
        <button class="projects__close">X</button>
        <div id="loadContent"></div>
      </div>
    </div>
  </div>
</section>
