.body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.menu {
	width: 300px;
	height: 100%;
	background: $wet-asphalt;
	position: fixed;
	display: block;
	z-index: 9999;
	right: -300px;
	box-shadow: inset 5px 0 14px -8px #000;
	@include transition(all 0.3s ease-in-out);

	@include media($mobile) {
		overflow: scroll;
	}

	a {
		display: block;
		text-align: center;
		padding: 15px;
		color: $header-color;

		svg fill {
			color: $header-color;
		}
	}
}

.main-page {
	right: 0px;
	position: relative;
	@include transition(all 0.3s ease-in-out);
}

.menu-icon {
	width: 60px;
	margin: 37px -55px;
	float: left;
	@include transition(all 0.3s ease-in-out);
}

.site-logo {
	margin: 25px auto;
	width: 100%;
}

.menu-open {
	overflow: hidden;
	.menu {
		right: 0;
	}
	.main-page {
		right: 300px;
	}
	.menu-icon {
		margin: 37px -55px;
	}
}

#shadowOver {
	background: rgba(#000, 0.0);
	@include transition(all 0.3s ease-in-out);
}

.fadeOver {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(#000, 0.6) !important;
}







//////////////////////////////////////////
              ///contact//
/////////////////////////////////////////


.contact {
	@include retina-image($contact-bg-img, cover);

	.overlay {
		opacity: 0.9;
	}

	.content {
		@include span-columns( 6 );
		margin-top: 25px;
		@include transition ( all 0.7s ease-in-out );

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.main-form {
		@include span-columns( 6 );
		@include transition ( all 0.7s ease-in-out );

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

		.cname {
			@include span-columns( 6 );
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.cemail {
			@include span-columns( 6 );
			margin-right: 0;
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.form-group {

			label {
				font-size: 14px;
			}

			textarea {
				min-height: 200px;
				font-size: 14px;
			}
		}
	}
}


//////////////////////////////////////////
              ///features//
/////////////////////////////////////////


// .features {
// 	@include retina-image($features-bg-img, cover);
//
// 	.overlay {
// 		opacity: 0.9;
// 	}
//
// 	.f-item {
// 		@include row()
// 	}
//
// 	img {
// 		border: solid 3px #fff;
// 	}
//
// 	.full-w {
// 		@include shift(0);
//
// 		@include media($laptop) {
// 			@include shift(3);
// 		}
//
// 		@include media($mobile) {
// 			@include span-columns( 12 );
// 			@include shift(0);
// 		}
// 	}
//
// 	.content {
// 		@include span-columns( 4 );
// 		@include transition ( all 0.7s ease-in-out );
//
// 		h4 {
// 			font-size: 17px;
// 			margin-bottom: 10px;
// 			text-transform: uppercase;
// 			font-weight: bold;
// 		}
//
// 		.lema {
// 			color: $header-color;
// 		}
//
// 		@include media($laptop) {
// 			@include span-columns( 6 );
// 		}
//
// 		@include media($mobile) {
// 			@include span-columns( 12 );
// 		}
//
// 	}
//
// }



//////////////////////////////////////////
              ///site-footer//
/////////////////////////////////////////


.site-footer {
	background: darken($accent_color, 10% );

	.social-media-list {
		@include span-columns( 3 );
		text-align: right;

		li {
			display: inline-block;
			font-size: 25px;
			padding: 0 10px;

			a {
				text-decoration: none;
				color: $header-color;
				opacity: 0.8;

				&:hover {
					color: $accent_color_secondary;
				}
			}
		}
	}
}




//////////////////////////////////////////
          ///global classes//
/////////////////////////////////////////




.section-title {
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	text-rendering: auto;
	letter-spacing: 0.1em;
	text-align: left;
	margin-bottom: 2.5em;
	position: relative;
	z-index: 10;

	&:before {
		content: "";
		border-left: solid 5px $peter-river;
		margin-right: 10px;
		opacity: 0.8;
		padding: 20px 0;
	}

	@include media($laptop) {
		font-size: 1.6rem;
	}

	@include media($mobile) {
		font-size: 1.2rem;
	}
}

.lema {

}

.copyr {
	@include span-columns( 9 );
	@extend .lema;
	color: $header-color;
	opacity: 0.7;
}

img {
	margin-bottom: 20px;
}



textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
	border-radius: 0;
	box-shadow: none;
	background: rgba($accent_color, 0.5);
	border-color: $header-color;
	color: $header-color;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
	border-color: $accent_color_secondary;
	box-shadow: none;
}


button, input[type="submit"] {
	border-radius: 0;
	background-color: rgba($accent_color_secondary, 0.7);
	@include transition ( all 0.4s ease-in-out );
}

button:hover, input[type="submit"]:hover {
	background-color: $accent_color_secondary;
}

section {
	overflow: hidden;
	//@include transition ( all 0.7s ease-in-out );
}

@include keyframes( blink ) {0% {opacity: 0;} 50% {opacity: 1;} 100% {opacity: 0;}}
@include keyframes( scaleOut ) {from {@include transform(scale( 0 ));} to {@include transform(scale( 100% ));}}

@include keyframes( iconmove ) {
	0% {@include transform(rotate( 0deg ));}
	25% {@include transform(rotate( 30deg ) scale(1.2,1.2));}
	50% {@include transform(rotate( 0deg ) scale(1.5,1.5));}
	75% {@include transform(rotate( -30deg ) scale(1.2,1.2));}
	100% {@include transform(rotate( 0deg ));}
}



//http://www.elijahmanor.com/css-animated-hamburger-icon/


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; margin: 37px -50px;
position: fixed; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: $peter-river;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


//////////////////////////////////////////
          ///loadin page//
/////////////////////////////////////////


.cont-img {
	@include span-columns( 6 );

	@include media($laptop) {
		@include span-columns( 4 );
	}

	@include media($mobile) {
		@include span-columns( 12 );
	}
}

.cont-infor {
	@include span-columns( 6 );

	@include media($laptop) {
		@include span-columns( 8);
	}

	@include media($mobile) {
		@include span-columns( 12 );
	}
}
