//////////////////////////////////////////
              ///header-s//
/////////////////////////////////////////


.header-s {
	background: url(../img/header-bg-2.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	height: 700px;
    text-align: center;
    color: $header-color;

	.site-header {
		z-index: 999;
	}

	.header-line {
		line-height: 35em;

		@include media($laptop) {
			line-height: 15em;
		}

		@include media($mobile) {
			line-height: 5em;
		}
	}

	.site-name {
		vertical-align: middle;
		display: inline-block;
		position: relative;
		z-index: 2;

		h1 {
			font-family: 'Cinzel Decorative', cursive;
			font-size: 5rem;

			span {

				&:after {
					content: "";
					border: solid 1px $header-color;
					margin: 0px 5px;
					box-shadow: 0 0 5px;
					@include animation( blink 1.0s infinite ease-in );
				}
			}

		@include media($laptop) {
			font-size: 3rem;
		}

		@include media($mobile) {
			font-size: 2rem;
		}

		}
	}

	@include media($laptop) {
		height: 500px;
	}

	@include media($mobile) {
		height: 300px;
	}


	@include keyframes( blink ) {0% {opacity: 0;} 50% {opacity: 1;} 100% {opacity: 0;}}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	background: url(../img/header-bg-2@2x.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	height: 700px;
    text-align: center;
    color: $header-color;

    @include media($laptop) {
		height: 500px;
	}

	@include media($mobile) {
		height: 300px;
	}  
}

}


//////////////////////////////////////////
              ///main-infor//
/////////////////////////////////////////



.main-infor {
	z-index: 1;

	.content {
		@include span-columns( 8 );

		@include media($laptop) {
			@include span-columns( 12 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.sidebar {
		@include span-columns( 4 );

		ul {
			margin: 0;
		}

		li {
			padding: 15px 0;

			&:before {
				counter-increment: section;     
  				content: "" counter(section) " ";
  				float: left;
  				padding: 15px 25px;
  				margin: 0px 20px 50px;
  				color: $header-color;
  				background: $emerland; 
  				opacity: 0.7;
			}
		}

		h4 {
			text-transform: uppercase;
			margin-bottom: 15px;
			font-size: 17px;
			font-weight: bold;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}
}


//////////////////////////////////////////
              ///contact//
/////////////////////////////////////////


.contact {
	background: url(../img/contact-bg.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	background-color: $wet-asphalt;
	color: $header-color;
	//background-color: $peter-river;
	color: $header-color;

	.overlay {
		opacity: 0.9;
	}

	.content {
		@include span-columns( 6 );

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.main-form {
		@include span-columns( 6 );

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

		.cname {
			@include span-columns( 6 );
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.cemail {
			@include span-columns( 6 );
			margin-right: 0;
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.form-group {

			label {
				font-size: 14px;
			}

			textarea {
				min-height: 200px;
				font-size: 14px;
			}
		}
	}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	background: url(../img/contact-bg@2x.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
    text-align: center;
    color: $header-color;  
}

}


//////////////////////////////////////////
              ///features//
/////////////////////////////////////////


.features {
	background: url(../img/features-bg.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	background-color: $wet-asphalt;
	color: $header-color;

	.overlay {
		opacity: 0.9;
	}

	.f-item {
		@include row()
	}

	
	.full-w {
		@include shift(0);

		@include media($laptop) {
			@include shift(3);
		}

		@include media($mobile) {
			@include span-columns( 12 );
			@include shift(0);
		}
	}

	.content {
		@include span-columns( 4 );

		h4 {
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
		
	}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	background: url(../img/features-bg@2x.jpg) no-repeat;
	@include position( relative, 0px 0 0 0px );
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
    text-align: center;
    color: $header-color;  
}

}


//////////////////////////////////////////
              ///main-work//
/////////////////////////////////////////


.main-work {

	.content {
		@include span-columns( 3 );
		text-align: center;

		h4 {
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		img {
			width: 100px;
		}

		@include media($laptop) {
			@include span-columns( 6 );
			margin-right: 0; 
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

	}
	.right {
		margin: 0;
	}
}


//////////////////////////////////////////
              ///site-footer//
/////////////////////////////////////////


.site-footer {
	background: $midnight-blue;

	.social-media-list {
		@include span-columns( 3 );
		text-align: right;

		li {
			display: inline-block;
			font-size: 25px;
			padding: 0 10px;

			a {
				text-decoration: none;
				color: $header-color;
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}



//////////////////////////////////////////
              ///global classes//
/////////////////////////////////////////




.section-title {
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	text-rendering: auto;
	letter-spacing: 0.1em;
	text-align: left;
	margin-bottom: 2.5em;

	&:before {
		content: "";
		border: solid 5px $emerland;
		margin-right: 10px;
		opacity: 0.7;
	}

	@include media($laptop) {
		font-size: 1.6rem;
	}

	@include media($mobile) {
		font-size: 1.2rem;
	}
}

.lema {
	font-family: $base-font-family;
    font-size: 14px;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    counter-reset: section;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased !important;
}

.copyr {
	@include span-columns( 9 );
	@extend .lema;
	color: $header-color;
	opacity: 0.7;
}

img {
	margin-bottom: 20px;
}

.big-icon {
	font-size: 70px;
	margin: 20px 0;
	color: $alizarin;
	opacity: 0.7;
	display: block;
}

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
	border-radius: 0;
	box-shadow: none;
	background: rgba($midnight-blue, 0.5);
	@extend .lema;
	color: $header-color;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
	border-color: $emerland;
	box-shadow: none;
}

button, input[type="submit"] {
	border-radius: 0;
	background-color: $emerland;
	opacity: 0.7;
}

button:hover, input[type="submit"]:hover {
	background-color: $emerland;
	opacity: 1;
}

section {
	overflow: hidden;
	@include transition ( all 0.5s ease-in-out );
}

@include keyframes( scaleOut ) {from {@include transform(scale( 0 ));} to {@include transform(scale( 100% ));}}