.body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.menu {
	width: 300px;
	height: 100%;
	background: $wet-asphalt;
	position: fixed;
	display: block;
	z-index: 9999;
	right: -300px;
	@include transition(all 0.3s ease-in-out);

	a {
		display: block;
		text-align: center;
		padding: 15px;
		color: $header-color;

		svg fill {
			color: $header-color;
		}
	}
}

.main-page {
	right: 0px;
	position: relative;
	@include transition(all 0.3s ease-in-out);
}

.menu-icon {
	width: 60px;
	margin: 37px -55px;
	float: left;
	@include transition(all 0.3s ease-in-out);
}

.site-logo {
	margin: 25px auto;
	width: 100%;
}

.menu-open {
	.menu {
		right: 0;
	}
	.main-page {
		right: 300px;
	}
	.menu-icon {
		margin: 37px -55px;
	}
}




//////////////////////////////////////////
              ///header-s//
/////////////////////////////////////////


.header-s {
	@include retina-image($header-bg-img, cover);
	height: 700px;
    text-align: center;
    @include transition ( all 0.3s ease-in-out );
   

    @include media($laptop) {
		height: 500px;
	}

	@include media($mobile) {
		height: 300px;
	} 

	.site-header {
		z-index: 999;
	}

	.header-line {
		line-height: 35em;

		@include media($laptop) {
			line-height: 15em;
		}

		@include media($mobile) {
			line-height: 5em;
		}
	}

	.site-name {
		vertical-align: middle;
		display: inline-block;
		position: relative;
		z-index: 2;

		h1 {
			font-family: 'Cinzel Decorative', cursive;
			font-size: 5rem;

			span {

				&:after {
					content: "";
					border: solid 1px $header-color;
					margin: 0px 5px;
					box-shadow: 0 0 5px;
					@include animation( blink 1.0s infinite ease-in );
				}
			}

		

		@include media($laptop) {
			font-size: 3rem;
		}

		@include media($mobile) {
			font-size: 2rem;
		}

		}
	}

	@include media($laptop) {
		height: 500px;
	}

	@include media($mobile) {
		height: 300px;
	}

}


//////////////////////////////////////////
              ///main-infor//
/////////////////////////////////////////



.main-infor {
	z-index: 1;

	.content {
		text-align: center;
		font-size: 1.4rem;
		@include span-columns( 12 );
		@include transition ( all 0.7s ease-in-out );

		@include media($laptop) {
			@include span-columns( 12 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

		.lema {
			margin: 60px auto;
			max-width: 800px;
		}
	}

	.bar-l {
		@include span-columns( 6 );
		padding: 30px 50px;
		font-size: 0.7em;
		text-align: left;

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.bar-r {
		@include span-columns( 6 );
		padding: 30px 50px;
		font-size: 0.7em;
		text-align: left;

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}
}


//////////////////////////////////////////
              ///contact//
/////////////////////////////////////////


.contact {
	//@include retina-image($contact-bg-img, cover);

	.overlay {
		//opacity: 0.9;
	}

	.content {
		@include span-columns( 6 );
		margin-top: 25px;
		@include transition ( all 0.7s ease-in-out );

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.main-form {
		@include span-columns( 6 );
		@include transition ( all 0.7s ease-in-out );

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

		.cname {
			@include span-columns( 6 );
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.cemail {
			@include span-columns( 6 );
			margin-right: 0;
			font-size: 14px;

			@include media($laptop) {
				@include span-columns( 12 );
			}

			@include media($mobile) {
				@include span-columns( 12 );
			}
		}

		.form-group {

			label {
				font-size: 14px;
			}

			textarea {
				min-height: 200px;
				font-size: 14px;
			}
		}
	}
}


//////////////////////////////////////////
              ///features//
/////////////////////////////////////////


.features {
	@include retina-image($features-bg-img, cover);

	.overlay {
		opacity: 0.9;
	}

	.f-item {
		@include row()
	}

	img {
		border: solid 3px #fff;
	}
	
	.full-w {
		@include shift(0);

		@include media($laptop) {
			@include shift(3);
		}

		@include media($mobile) {
			@include span-columns( 12 );
			@include shift(0);
		}
	}

	.content {
		@include span-columns( 4 );
		@include transition ( all 0.7s ease-in-out );

		h4 {
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
		
	}

}


//////////////////////////////////////////
              ///main-work//
/////////////////////////////////////////


.main-work {
	@include transition ( all 0.5s ease-in-out );

	.wrapper {
		overflow: hidden;
	}

	.content {
		@include span-columns( 3 );
		text-align: center;
		margin-top: 20px;
		cursor: pointer;
		@include transition ( all 0.2s ease-in-out );

		h4 {
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		img {
			@include size( 100px 100px );
			margin-top: 20px;
		}

		@include media($laptop) {
			@include span-columns( 6 );
			margin-right: 0; 
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}

		&:hover {
			box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 15px 35px 5px rgba(0, 0, 0, 0.3);

			img {
				@include animation( iconmove 0.5s ease-in );
			}
		}

		&:active, &:focus {
			background: transparent;
			box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.3);
			outline: none;
		}

	}
	.right {
		margin: 20px 0;
	}
}

.tools-infor {
	@include transition(all 0.5s ease-in-out);
}


//////////////////////////////////////////
              ///site-footer//
/////////////////////////////////////////


.site-footer {
	background: darken($accent_color, 10% );

	.social-media-list {
		@include span-columns( 3 );
		text-align: right;

		li {
			display: inline-block;
			font-size: 25px;
			padding: 0 10px;

			a {
				text-decoration: none;
				color: $header-color;
				opacity: 0.8;

				&:hover {
					color: $accent_color_secondary;
				}
			}
		}
	}
}



//////////////////////////////////////////
              ///main-user//
/////////////////////////////////////////


.main-user {
	overflow: inherit;
	padding: 0;
	height: 200px;

	.page-content {
		padding: 0;
	}

	.wrapper {
		padding: 0;
	}

	.user-img {
		text-align: center;
		margin-top: -150px;
		z-index: 444;

		img {
			border-radius: 50%;
			width: 300px;
			height: 300px;
			border: solid 10px $background-color;
			background-color: $accent_color;
			//@include background(linear-gradient(rgba($accent_color, .7), $accent_color) left repeat);
			z-index: 200;
			position: relative;
		}
	}

	@include media($laptop) {
		height: 150px;

		.user-img {
			text-align: center;
			margin-top: -100px;
			z-index: 444;

			img {
				border-radius: 50%;
				width: 200px;
				height: 200px;
			}
		}
	}

	@include media($mobile) {
		height: 80px;

		.user-img {
			text-align: center;
			margin-top: -70px;
			z-index: 444;

			img {
				border-radius: 50%;
				width: 150px;
				height: 150px;
			}
		}
	}

	
}



//////////////////////////////////////////
          ///global classes//
/////////////////////////////////////////




.section-title {
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	text-rendering: auto;
	letter-spacing: 0.1em;
	text-align: left;
	margin-bottom: 2.5em;

	&:before {
		content: "";
		border-left: solid 5px $peter-river;
		margin-right: 10px;
		opacity: 0.8;
		padding: 20px 0;
	}

	@include media($laptop) {
		font-size: 1.6rem;
	}

	@include media($mobile) {
		font-size: 1.2rem;
	}
}

.lema {
	
}

.copyr {
	@include span-columns( 9 );
	@extend .lema;
	color: $header-color;
	opacity: 0.7;
}

img {
	margin-bottom: 20px;
}



textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
	border-radius: 0;
	box-shadow: none;
	background: rgba($accent_color, 0.5);
	border-color: $header-color;
	color: $header-color;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
	border-color: $accent_color_secondary;
	box-shadow: none;
}


button, input[type="submit"] {
	border-radius: 0;
	background-color: rgba($accent_color_secondary, 0.7);
	@include transition ( all 0.4s ease-in-out );
}

button:hover, input[type="submit"]:hover {
	background-color: $accent_color_secondary;
}

section {
	overflow: hidden;
	//@include transition ( all 0.7s ease-in-out );
}

@include keyframes( blink ) {0% {opacity: 0;} 50% {opacity: 1;} 100% {opacity: 0;}}
@include keyframes( scaleOut ) {from {@include transform(scale( 0 ));} to {@include transform(scale( 100% ));}}

@include keyframes( iconmove ) {
	0% {@include transform(rotate( 0deg ));} 
	25% {@include transform(rotate( 30deg ) scale(1.2,1.2));}
	50% {@include transform(rotate( 0deg ) scale(1.5,1.5));}
	75% {@include transform(rotate( -30deg ) scale(1.2,1.2));}  
	100% {@include transform(rotate( 0deg ));}
}


.prog {
   background: #ccc;
   height: .35em;
   width: 100%;
   margin: 15px 0;
  }

.prog-bar {
  height: 100%;
  display: block;
  transition: all 1s ease-in-out;
}


.color-3 { 
    background: $peter-river;
}

$bar-list: 5% 10% 15% 20% 25% 30% 35% 40% 45% 50% 55% 60% 65% 70% 75% 80% 85% 90% 95% 100%;
@each $current-bar in $bar-list {
    $i: index($bar-list, $current-bar);
    .prog-w-#{$i*5} { 
        width: $current-bar;
    }
}

//http://www.elijahmanor.com/css-animated-hamburger-icon/


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; margin: 37px -50px;
position: fixed; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: $peter-river;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


//////////////////////////////////////////
          ///loadin page//
/////////////////////////////////////////


.cont-img {
	@include span-columns( 6 );

	@include media($laptop) {
		@include span-columns( 4 );
	}

	@include media($mobile) {
		@include span-columns( 12 );
	}
}

.cont-infor {
	@include span-columns( 6 );

	@include media($laptop) {
		@include span-columns( 8);
	}

	@include media($mobile) {
		@include span-columns( 12 );
	}
}