$mobile: new-breakpoint(max-width 538px 12);
$laptop: new-breakpoint(max-width 900px 12);
$large: new-breakpoint(max-width 1200px 12);

/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    color: $header-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    width: 75px;

    &,
    &:visited {
        color: $header-color;
    }

    @include media($laptop) {
        width: 50px;
        margin-top: -20px;
        }

    @include media($mobile) {
        width: 30px;
    }
}



.header-s, .features, .contact {
    background-repeat: no-repeat;
    @include position( relative, 0px 0 0 0px );
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    background-color: $accent_color;
    color: $header-color;
}


/**
 * Site footer
 */




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    position: relative;
    z-index: 5;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.element {
    background: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.elements-box {
    position: relative;
    //margin-top: -170px;
    @include transition(all 0.3s ease-in-out);
}

.box {
    max-width: 100%;
    position: absolute;
    margin: 0 auto;
    display: block;
    left: 130%;
    top: 0;
    bottom: 0;
    overflow: auto;
    @include clearfix;
    @include transition(all 0.3s ease-in-out);
    
    .close {
        margin: 20px 20px 0;
    }

    .page-load {
        padding: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }
}