---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// global variables
$animate: all 0.3s ease-in-out;

//color variables
$background-color:       #ecf0f1;
$accent-color-1:         #34495e;
$accent-color-2:         #2a7ae2;
$accent-color-3:         #e67e22;
$accent-color-4:         #1abc9c;


//font variables
$base-font-family:       'Open Sans', sans-serif;
$base-font-size:         14px;
$small-font-size:        $base-font-size * 0.875;
$base-line-height:       1.9;
$text-color:             #222;
$text-color-light:       #fff;

//screen size variables
$mobile: max-width 600px;
$tablet: max-width 800px;
$laptop: max-width 1200px;
$large:  max-width 1400px;

//background images variables
$header-bg-img:          '{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.config.heroBackground }}';
$contact-bg-img:         '{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.config.contactBackground }}';
$features-bg-img:        '{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.config.featuresBackground }}';


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"reset",
	"bourbon/bourbon",
	"base/base",
	"neat/neat",
	"mixins",
	"global",
	"syntax-highlighting",
	"_section/section"
;
