.menu
  position: fixed
  width: 130px
  top: 50%
  right: 0px
  z-index: 999
  +transform(translateY(-50%))

  +e('list')

    +e('item')
      display: block
      padding: 10px
      text-align: right
      color: $text-color-light
      text-decoration: none
      +transition(all 0.2s ease-in-out)

      span
        opacity: 0
        +transition(all 0.4s ease)

      &:after
        content: ''
        float: right
        margin: 5px auto auto 10px
        border: solid 2px $accent-color-2
        border-radius: 50%
        padding: 5px
        +transition(all 0.2s ease-in-out)

      &:visited
        color: $text-color-light

      &:hover
        text-decoration: none
        margin-left: 0
        //background: $accent-color-2

        span
          opacity: 1

        &:after
          border-color: $accent-color-3

      +m('active')

        &:after
          border-color: $accent-color-3
          background: $text-color-light

  +m('open')
    left: -0px

    .menu__toggle
      left: 300px
