<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body">

  <div class="menu">

    <a id="nav-toggle"><span></span></a>

    <a class="site-logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ site.image_location }}/{{ site.data.hero.logoImage }}"></a>

    <div id="navigation-menu" class="trigger">
      {% for menu in site.data.hero.menu %}
        <a class="page-link" href="{{ site.baseurl }}/{{ menu.link }}">{{ menu.title }}</a>
      {% endfor %}
      </div>
  </div>

  <div class="main-page">  
    {{ content }}
    {% include footer.html %}
  </div>

  </body>

</html>
