---
layout: home
---

<section id="header-s" class="header-s">
<div class="overlay"></div>
{% include header.html %}
  <span class="header-line"></span>

  <div class="site-name animated fadeInUp">
    <h1><span>{{ page.title }}</span></h1>
  </div>

</section>


<div class="post">
	<div class="page-content">
      	<div class="wrapper">
		  <header class="post-header">
		    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		  </header>

		  <article class="post-content">
		    {{ content }}
		  </article>
		</div>
	</div>

</div>
