@font-face {
	font-family: "Flaticon";
	src: url("../front/flaticon.eot");
	src: url("../front/flaticon.eot#iefix") format("embedded-opentype"),
	url("../front/flaticon.woff") format("woff"),
	url("../front/flaticon.ttf") format("truetype"),
	url("../front/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-application5:before {
	content: "\e000";
}
.flaticon-brain2:before {
	content: "\e001";
}
.flaticon-calendar5:before {
	content: "\e002";
}
.flaticon-clock4:before {
	content: "\e003";
}
.flaticon-online:before {
	content: "\e004";
}
