{% include components/avatar.html %}
<section id="about" class="about">
  <div class="wrapper">
    <article class="about__content">
      <p class="about__content__infor">{{ site.data.config.description }}</p>
    </article>
    <div class="about__skill">
      {% for skills in site.data.config.skills %}
      <div class="about__skill__item">
        <h4 class="about__skill__item__label">{{ skills.skill }}<span class="about__skill__item__label--span">{{ skills.level }}</span></h4>
        <div class="about__skill__item__bar">
          <span class="about__skill__item__level about__skill__item__level--{{ skills.level }}"></span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
