<section id="contact" class="contact">
  <div class="overlay"></div>
  <div class="wrapper">
    <h2 class="section-title">{{ site.data.config.sectionTitle5 }}</h2>
    <form id="contact__form" class="contact__form" action="//formspree.io/{{ site.email }}" method="POST">
      <div class="contact__form__name">
        <label>Your Name</label>
        <input type="text" id="name" name="name" class="contact__form__input" required placeholder="james brown" onfocus="this.placeholder = ''" onblur="this.placeholder = 'james brown'">
      </div>
      <div class="contact__form__email">
        <label>Your Email</label>
        <input type="email" id="email" class="contact__form__input" name="_replyto" required placeholder="your-email@domain.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your-email@domain.com'">
      </div>
      <div class="contact__form__message">
        <label>Message</label>
        <textarea type="text" id="message" name="message" class="contact__form__input contact__form__textarea" required></textarea>
      </div>
      <input type="submit" value="Send Message">
    </form>
    <footer class="footer">
      <span class="footer__copyright">Copyright 2014 By Kerron Gordon</span>
      <div class="footer__social">
        <a href="#" class="footer__social__icon"><i class="icon-facebook"></i></a>
        <a href="#" class="footer__social__icon"><i class="icon-twitter"></i></a>
        <a href="#" class="footer__social__icon"><i class="icon-googleplus"></i></a>
        <a href="#" class="footer__social__icon"><i class="icon-github"></i></a>
      </div>
    </footer>
  </div>
</section>
